<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>購入完了</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

</head>
<body>
<div class="uk-container uk-container-large uk-width-2-3">
    <h1 class="uk-margin-top uk-heading-primary">Your Cart</h1>
    <h2>ご購入ありがとうございました。</h2>
    <a href="/products">商品一覧ページへ</a>
</div>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
</body>
</html>
